.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}
#description, #taxonomy-tree, #phenotype-tree {
	height: 70%;
	overflow: auto;
}
#phenotype-form form {
	overflow-y: auto;
}
.entity-result {
	padding-bottom: 0px;
}
#super-phenotype-tree {
	height: 200px; overflow: auto;
}
.affix {
	top: 70px; min-width: 262px;
}
.form-group label.col-form-label {
	margin-top: 5px;
}
.form-group .checkbox .col-form-label {
	margin-top: 0px;
}
.form-inline {
	display: inline;
}
#reason-form-drop-area {
	min-height: 60px;
}
.pre-scrollable {
	max-height: 600px;
}
.center {
	margin: auto;
	width: 50%;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.alert.fade.in {
	opacity: 1;
}
#message {
	position: fixed;
	top: 90px;
	left: 30%;
	right: 30%;
	z-index: 1020;
	max-height: 40%;
	overflow: auto;
}
.jumbotron {
	padding: 0;
}
.navbar {
	margin-bottom: 0px;
}
.panel-title .btn {
	color: #fff;
}

div.awesomplete {
	display: block;
}

/**
 * bootstrap's input groups modify the float & z-index of form-controls, this allows awesomplete
 * to assume the position of the form-control and reset the input
 */
.input-group div.awesomplete {
	position: relative;
	z-index: 3;
	float: left;
	width: 100%;
	margin-bottom: 0;
}
.input-group div.awesomplete > input {
	float: none;
}
.input-group div.awesomplete > ul {
	z-index: 4; /* bootstrap sets .input-group .form-control to 2 */
}
.alias-addon {
	align-items: normal !important;
}
.clickable-row {
	cursor: pointer;
}
.fixed-table-body {
	height: auto;
}
#footer-navbar {
	margin-top: 72px;
}
.flex-fill {
	flex: 1 !important;
}

/* custom titlebar related */
html {
	height: 100%;
}
body {
	height: 100%;
	border: 1px solid #48545c;
	overflow-y: hidden;
}
#main-navbar {
	top: 32px;
	width: calc(100% - 2px);
	left: 1px;
}
#titlebar {
	display: block;
	position: fixed;
	height: 32px;
	width: calc(100% - 2px);
	background: #254053;
	padding: 4px;
	color: #FFF;
}
#titlebar #drag-region {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
}
#main {
	height: calc(100% - 88px);
	margin-top: 88px;
	padding: 20px;
	overflow-y: auto;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 10px;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  user-select: none;
  cursor: default;
  opacity: 0.8;
}
#window-controls .button:hover {
  background: rgba(255,255,255,0.2);
  opacity: 1;
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}
#window-controls #restore-button {
  display: none;
}
#window-controls #close-button {
  grid-column: 3;
}
#window-controls #close-button:hover {
  background: #E81123;
}
#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}
#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  margin-left: 8px;
  overflow-x: hidden;
}
#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
#expression, #formula, #super-category {
	height: auto;
	min-height: calc(2.25rem + 2px);
}
.snackbar-success span {
	color: #285b2a;
  background-color: #dbefdc;
  border-color: #cde9ce;
}
.snackbar-info span {
	color: #02587f;
  background-color: #cdeefd;
  border-color: #b8e7fc;
}
.snackbar-warning span {
	color: #852d12;
  background-color: #ffddd3;
  border-color: #ffd0c1;
}
.snackbar-danger span {
	color: #7f231c;
  background-color: #fdd9d7;
  border-color: #fccac7;
}
#snackbar-container {
	bottom: 1px;
}
#description-div textarea.form-control {
	margin-left: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}