<div id="aggregate-function-form-group" class="form-group row d-none">
	<label for="aggregate-function" class="col-form-label col-sm-3">Function</label>
	
	<div class="col-sm-2">
		<select id="aggregate-function" name="aggregateFunction" class="custom-select">
			<option>---</option>
			<option value="min">min</option>
			<option value="max">max</option>
			<option value="avg">avg</option>
			<option value="count">count</option>
			<option value="sum">sum</option>
		</select>
	</div>

	<small class="text-muted col-sm-5">Optional aggregate function to be used, when multiple values of the phenotype are present.</small>
</div>