<div id="expression-form-group">
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<label for="expression" class="col-form-label mr-3">Boolean-Expression*</label>

		<div class="btn-group btn-group-sm mr-2" role="group" aria-label="Expression operators">
			<input type="button" class="btn btn-secondary operator" value="AND">
			<input type="button" class="btn btn-secondary operator" value="OR">
			<input type="button" class="btn btn-secondary operator" value="(">
			<input type="button" class="btn btn-secondary operator" value=")">
		</div>
		<div class="btn-group btn-group-sm" role="group" aria-label="Reset button group">
			<input type="button" class="btn btn-secondary pull-right" value="Reset" onclick="$('#expression').html(null)">
		</div>
	</div>

	<input type="hidden" id="expression-text" name="expression">
	<div class="form-control drop phenotype" id="expression" aria-describedby="expression-help"></div>
	<small id="expression-help" class="form-text text-muted">
		Drag-and-drop phenotypes from the right site into your expression.
	</small>
</div>