<div class="form-group row">
	<div class="col-sm-3">
		<label for="codes" class="col-form-label">Codes</label>
		<div class="btn btn-primary btn-sm float-right" onclick="addRow('#code-div')" data-toggle="tooltip" title="Add a code from a coding system" data-placement="right">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</div>
	</div>
	<div class="col-sm-9" id="code-div">
		<small class="form-text text-muted text-justify">e.g., Code System: <i>http://loinc.org</i> and Code: <i>8302-2</i> for body height</small>

		<div class="input-group">
			<div class="input-group-addon text-muted">
					Code System:
			</div>
			<input type="text" class="form-control" name="codeSystems[]" id="codeSystems">

			<div class="input-group-addon text-muted">
				Code:
			</div>
			<input type="text" class="form-control" name="codes[]" id="codes">
		</div>

		<div class="input-group d-none">
			<div class="input-group-addon text-muted">
					Code System:
			</div>
			<input type="text" class="form-control" name="codeSystems[]" id="codeSystems">

			<div class="input-group-addon text-muted">
				Code:
			</div>
			<input type="text" class="form-control" name="codes[]" id="codes">
		</div>
	</div>
</div>