<div class="form-group row">
	<label for="datatype" class="control-label col-sm-2">Datatype*</label>
	
	<div class="col-sm-4">
		<select id="datatype" name="datatype" class="form-control" onchange="toggleValueDefinition()" required>
			<option />
			<option value="numeric">Number</option>
			<option value="date">Date</option>
			<option value="string">String</option>
			<option value="boolean">Boolean</option>
			<option value="calculation">Calculation</option>
			<option value="composite-boolean">Boolean Expression</option>
		</select>
	</div>

</div>