<div id="formula-form-group" class="form-group row d-none">
	<label for="formula" class="col-form-label col-sm-3">Formula*</label>

	<div class="col-sm-9">
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group btn-group-sm mr-2" role="group" aria-label="Formula operators">
				<input type="button" class="btn btn-secondary operator" value="+">
				<input type="button" class="btn btn-secondary operator" value="-">
				<input type="button" class="btn btn-secondary operator" value="*">
				<input type="button" class="btn btn-secondary operator" value="/">
				<input type="button" class="btn btn-secondary operator" value="(">
				<input type="button" class="btn btn-secondary operator" value=")">
				<input type="button" class="btn btn-secondary operator" value=",">
				<input type="button" class="btn btn-secondary operator" value="Num">
				<input type="button" class="btn btn-secondary operator" value="IF" title="Usage: IF(<condition, if condition A fails>, <condition A>, <expression 1>, <expression 2)">
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="Reset button group">
				<input type="button" class="btn btn-secondary float-right" value="Reset" onclick="$('#formula').html(null)">
			</div>
		</div>

		<input type="hidden" id="formula-text" name="formula">
		<div class="form-control drop phenotype" id="formula" aria-describedby="formula-help"></div>
		<small id="formula-help" class="form-text text-muted">Drag-and-drop phenotypes from the right site into your formula.</small>
	</div>
</div>