<div class="form-group row">
	<label for="identifier" class="control-label col-sm-2">Identifier</label>

	<div class="col-sm-8" id="identifier-div">
		<small class="form-text text-muted text-justify">
			A <strong>unique</strong> identifier of the phenotype or category.
			If this field is left empty, a value will be generated automatically.
		</small>

		<div class="input-group">
			<input type="text" class="form-control awesomplete" id="identifier" name="identifier"
				   placeholder="Some_Unique_Identifier"
				   onblur="checkIfExists($('#phenotype-form form input#identifier').val())">
			<div id="identifier-warning" class="input-group-append d-none">
				<span class="input-group-text">
					<i class="fa fa-exclamation-triangle text-warning"
					   title="Identifier already exists. Submitting this form will overwrite the existing phenotype."></i>
				</span>
			</div>
		</div>
	</div>
</div>