<div class="form-group row">
	<div class="col-sm-3">
		<label for="synonym-languages" class="col-form-label">Synonyms</label>
		<div class="btn btn-primary btn-sm float-right" onclick="addRow('#synonym-div')" data-toggle="tooltip" title="Add a Synonym" data-placement="right">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</div>
	</div>

	<div class="col-sm-9" id="synonym-div">
		<small class="form-text text-muted">Specify some synonyms in different languages.</small>
	
		<div class="input-group">
			<div class="input-group-addon">
				<select name="synonymLanguages[]" class="custom-select hidden-language" data-toggle="tooltip" title="Language" id="synonym-languages" data-placement="right">
					<option value="en">EN</option>
					<option value="de">DE</option>
					<option value="fr">FR</option>
					<option value="es">ES</option>
				</select>
			</div>
			<input type="text" class="form-control" name="synonyms[]" id="synonyms" placeholder="Some Synonym">
		</div>

		<div class="input-group d-none">
			<div class="input-group-addon">
				<select name="synonymLanguages[]" class="custom-select hidden-language" data-toggle="tooltip" title="Language" data-placement="right">
					<option value="en">EN</option>
					<option value="de">DE</option>
					<option value="fr">FR</option>
					<option value="es">ES</option>
				</select>
			</div>
			<input type="text" class="form-control" name="synonyms[]" placeholder="Some Synonym">
		</div>
	</div>
</div>