<div class="form-group row">
	<div class="col-sm-3">
		<label for="title-languages" class="col-form-label">Title</label>
		<div class="btn btn-primary btn-sm float-right" onclick="addRow('#title-div')" data-toggle="tooltip" title="Add a Title" data-placement="right">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</div>
	</div>

	<div class="col-sm-9" id="title-div">
		<small class="form-text text-muted text-justify">
			Additional titles of the phenotype in different languages (one per language). Aliases are used as abbreviations of the title.
		</small>

		<div class="input-group">
			<div class="input-group-addon">
				<select name="titleLanguages[]" class="custom-select" id="title-languages" data-toggle="tooltip" title="Language" data-placement="right">
					<option value="en">EN</option>
					<option value="de">DE</option>
					<option value="fr">FR</option>
					<option value="es">ES</option>
				</select>
			</div>
			<input type="text" class="form-control" id="titles" name="titles[]" placeholder="Some Title">
			<div class="input-group-addon alias-addon">
				<input type="text" class="form-control" id="aliases" name="aliases[]" placeholder="Alias">
			</div>
		</div>

		<div class="input-group d-none">
           	<div class="input-group-addon">
          		<select name="titleLanguages[]" class="custom-select hidden-language" data-toggle="tooltip" title="Language" data-placement="right">
                   	<option value="en" selected="selected">EN</option>
                   	<option value="de">DE</option>
                   	<option value="fr">FR</option>
                   	<option value="es">ES</option>
                </select>
           	</div>
           	<input type="text" class="form-control" id="titles" name="titles[]" placeholder="Some Title">
           	<div class="input-group-addon alias-addon">
           		<input type="text" class="form-control" id="aliases" name="aliases[]" placeholder="Alias">
           	</div>
        </div>
	</div>
</div>